<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fcadmin.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="org.fcadmin.pojo.SysMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="redirect" jdbcType="VARCHAR" property="redirect" />
    <result column="resources" jdbcType="VARCHAR" property="resources" />
    <result column="menu_type" jdbcType="INTEGER" property="menuType" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="is_route" jdbcType="BIT" property="isRoute" />
    <result column="is_leaf" jdbcType="BIT" property="isLeaf" />
    <result column="keep_alive" jdbcType="BIT" property="keepAlive" />
    <result column="hidden" jdbcType="BIT" property="hidden" />
    <result column="internal_or_external" jdbcType="BIT" property="internalOrExternal" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
<!--侧边栏sta-->
  <resultMap id="SideBarMenuVO" type="org.fcadmin.dto.output.SideBarMenuVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="redirect" jdbcType="VARCHAR" property="redirect" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="resources" jdbcType="VARCHAR" property="resources" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <association property="meta" javaType="org.fcadmin.pojo.Meta">
      <result column="icon" jdbcType="VARCHAR" property="icon" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="keep_alive" jdbcType="BIT" property="keepAlive" />
      <result column="hidden" jdbcType="BIT" property="hidden" />
    </association>
  </resultMap>

<!--  <resultMap id="getMenusBySysUserId" type="org.fcadmin.dto.output.SideBarMenuVO" extends="SideBarMenuVO">-->
<!--    <collection property="children" ofType="org.fcadmin.dto.output.SideBarMenuVO">-->
<!--      <id column="id2" jdbcType="INTEGER" property="id" />-->
<!--      <result column="name2" jdbcType="VARCHAR" property="name" />-->
<!--      <result column="redirect2" jdbcType="VARCHAR" property="redirect" />-->
<!--      <result column="resources2" jdbcType="VARCHAR" property="resources" />-->
<!--      <result column="component2" jdbcType="VARCHAR" property="component" />-->
<!--      <association property="meta" javaType="org.fcadmin.pojo.Meta">-->
<!--        <result column="icon2" jdbcType="VARCHAR" property="icon" />-->
<!--        <result column="name2" jdbcType="VARCHAR" property="name" />-->
<!--        <result column="keep_alive2" jdbcType="BIT" property="keepAlive" />-->
<!--        <result column="hidden2" jdbcType="BIT" property="hidden" />-->
<!--      </association>-->
<!--    </collection>-->
<!--  </resultMap>-->
  <select id="getMenusBySysUserId" resultMap="SideBarMenuVO">
    SELECT m.* FROM sys_menu m,sys_role_menu mr,sys_user_role sur
    WHERE is_route=1  AND sur.uid = #{uid} AND mr.rid = sur.rid AND m.id = mr.mid ORDER BY m.sort desc ,m.id asc
  </select>
    <select id="getMenusResource" resultType="java.lang.String">
    SELECT distinct m.resources FROM sys_menu m,sys_role_menu mr,sys_user_role sur
    WHERE is_route=0  AND sur.uid = #{uid} AND mr.rid = sur.rid AND m.id = mr.mid ORDER BY m.sort desc ,m.id asc
  </select>
  <!--侧边栏 end-->


  <!--获取系统所有权限-->
  <resultMap id="BaseSysMenuVo" type="org.fcadmin.dto.output.SysMenuVO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="redirect" jdbcType="VARCHAR" property="redirect" />
    <result column="resources" jdbcType="VARCHAR" property="resources" />
    <result column="menu_type" jdbcType="INTEGER" property="menuType" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="is_route" jdbcType="BIT" property="isRoute" />
    <result column="is_leaf" jdbcType="BIT" property="isLeaf" />
    <result column="keep_alive" jdbcType="BIT" property="keepAlive" />
    <result column="hidden" jdbcType="BIT" property="hidden" />
    <result column="internal_or_external" jdbcType="BIT" property="internalOrExternal" />
  </resultMap>
  <resultMap id="getSystemMenus" type="org.fcadmin.dto.output.SysMenuVO" extends="BaseSysMenuVo">
    <collection property="children" ofType="org.fcadmin.dto.output.SysMenuVO" column="id" select="getMenusByPid">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
      <result column="url" jdbcType="VARCHAR" property="url" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="component" jdbcType="VARCHAR" property="component" />
      <result column="redirect" jdbcType="VARCHAR" property="redirect" />
      <result column="resources" jdbcType="VARCHAR" property="resources" />
      <result column="menu_type" jdbcType="INTEGER" property="menuType" />
      <result column="level" jdbcType="INTEGER" property="level" />
      <result column="sort" jdbcType="INTEGER" property="sort" />
      <result column="icon" jdbcType="VARCHAR" property="icon" />
      <result column="remarks" jdbcType="VARCHAR" property="remarks" />
      <result column="is_route" jdbcType="BIT" property="isRoute" />
      <result column="is_leaf" jdbcType="BIT" property="isLeaf" />
      <result column="keep_alive" jdbcType="BIT" property="keepAlive" />
      <result column="hidden" jdbcType="BIT" property="hidden" />
      <result column="internal_or_external" jdbcType="BIT" property="internalOrExternal" />
    </collection>
  </resultMap>
  <select id="getSystemMenus" resultMap="getSystemMenus">
    SELECT * FROM sys_menu WHERE parent_id = 0
  </select>
  <select id="getMenusByPid" resultMap="getSystemMenus">
    SELECT * FROM sys_menu WHERE parent_id = #{id}
  </select>
</mapper>