<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fcadmin.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="org.fcadmin.pojo.SysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="BaseSysUserVO" type="org.fcadmin.dto.output.SysUserVO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="BaseSysUserListVO" type="org.fcadmin.dto.output.SysUserListVO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="rname" jdbcType="VARCHAR" property="rname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <collection property="roles" ofType="org.fcadmin.pojo.SysRole">
      <id column="rids" jdbcType="INTEGER" property="id" />
      <result column="rnameZh" jdbcType="VARCHAR" property="nameZh" />
    </collection>
  </resultMap>
  <select id="getSysUserByPage" resultMap="BaseSysUserListVO">
    select u.id,u.username,u.nick_name,u.sex,u.phone,u.email,u.avatar,u.flag,u.open_id,u.create_time,u.update_time,r.id AS rids,r.name_zh AS rnameZh from sys_user u left join sys_user_role ur on u.id = ur.uid left JOIN sys_role r ON r.id=ur.rid WHERE 1=1
    <if test="sysUser.username !=null and sysUser.username!=''">
      and u.username like concat('%',#{sysUser.username},'%')
    </if>
    <if test="page !=null and size!=null">
      limit #{page},#{size}
    </if>
  </select>
  <select id="getTotal" resultType="java.lang.Long">
    select count(*) from sys_user e
    <where>
      <if test="sysUser!=null">
        <if test="sysUser.username !=null and sysUser.username!=''">
          and e.username like concat('%',#{sysUser.username},'%')
        </if>
      </if>
    </where>
  </select>
</mapper>